*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #e2eaff;
    color: #101632dd;
    
}
div, ul, nav, li, header, footer, a, label, body{
    margin: 0px;
    padding: 0px;

}
@keyframes header-movement {
    from{
        padding: 20px 0;
        background-color: #fff;
    }
    to{
        padding: 20px 0;
        background-color: #0006;
    }
}



/*------VARIABLES------*/
$color-principal: #fff;
$color-secundario: #48e;
$color-terciario:#4caf50;
$color-cuarto:#18233f;
$colot-quinto:black;

/*--------listas-------*/
$colores: #48e, #fff, black, #18233f, #e2eaff,#4caf50; 

$font-size:
12px,
18px,
25px,
35px;
 /*-----OPERACIONES------*/
 // + - * /

 $ancho:720px;

 

    /*-----MAPAS--------*/

 $boton:(

 );
 
    /*---------EXTENS------*/

 //%PLACEGOLDER
 %flex-center{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

 }


    /*-----MIXINS------*/
 
 @mixin flex($flex, $justify, $aling, $wrap){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
    flex-wrap: $wrap;
 }

    /*-----CONDICIONAL------*/
 // OPERADORES DE COMPARACION
 // =ASIGNACION
 // ==ES IGUAL
 // === ESTRICTAMENTE IGUAL
 //!= ES DIFERENTE
 //> MAYOR QUE
 //< MENOR QUE
 //>= MAYOR O IGUAL
 //<= MENOR O IGUAL


    /*-----BUCLE-----*/
 
 
